/* Pagina de Niveles */

.niveles{
    width: 80%;
    margin: 30px auto;
    
}
.nivel-academico{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align:center;
}
.tarjeta-niveles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}